#root {
  background: #eee;
  display: flex;
  justify-content: center;
  height: 100vh;
  display: flex;
  align-items: center;
}

.app {
  text-align: center;
}

.app-logo {
  height: 80px;
  max-width: 100%;
}

.app-header {
  background-color: #1795d4;
  padding: 20px;
  color: #FFF;
}

.calculator-container {
  display: flex;
  flex-direction: column;
  width: 520px;
  background: #555;
  padding: 0 10px;
}

.calculator-screen {
  flex: 0.5 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.screen-bottom,
.screen-top {
  text-align: right;
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.screen-top {
  font-size: 40px;
  height: 40px;
  align-self: flex-end;
}

.screen-bottom {
  font-size: 120px;
  height: 120px;
  line-height: 1;
  align-self: flex-end;
}

.keypad {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.keypad-key {
  flex: 1;
  display: flex;
}

.btn {
  flex: 1;
  border-radius: 5px;
  margin: 5px;
  padding: 15px 20px 20px;
  line-height: 1;
  border: none;
  background: #000;
  color: #FFF;
  font-size: 40px;
  outline: none;
  cursor: pointer;
}

.btn--zero {
  flex: 2;
  border-radius: 5px;
  align-items: end;
  display: flex;
  padding-left: 50px;
}

.btn--operator {
  background: #1795d4;
}

.btn--misc {
  background: #eee;
  color: #000;
}

@media all and (max-width: 530px) {
  .btn {
    font-size: 32px;
  }

  .calculator-container {
    width: 420px;
  }

  .btn--zero {
    padding-left: 40px;
  }

  .keypad {
    flex: 0.6 0.5;
  }
}

@media all and (max-width: 320px) {
  .btn {
    font-size: 25px;
  }
}
